<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 10px;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav a.active {
    color: red;
  }
</style>

<nav>
  <a [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">counter</a>
  <a [routerLink]="['/hero']" [routerLinkActive]="'active'">hero</a>
  <a [routerLink]="['/gsap']" [routerLinkActive]="'active'">gsap</a>
  <a [routerLink]="['/dragonball']" [routerLinkActive]="'active'">dragonball</a>
  <a [routerLink]="['/dragonball-super']" [routerLinkActive]="'active'">dragonball super</a>
</nav>
